@font-face {
  font-family: sst-normal;
  font-weight: 400;
  src: url("./assets/fonts/SST-Medium-latin.woff2");
}

@font-face {
  font-family: sst-thin;
  font-weight: 300;
  src: url("./assets/fonts/SST-Light-latin.woff2");
}

@font-face {
  font-family: sst-bold;
  font-weight: 700;
  src: url("./assets/fonts/SST-Bold-latin.woff2");
}

:root {
  --blue: #0070d1;
  --font-thin: sst-thin;
  --font-normal: sst-normal;
  --font-bold: sst-bold;
  --ease: ease 300ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

/* --------------------------------------------SONY LOGO */
.brand {
  padding: 14px 12px;
  width: 100%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: end;
}

.brand img {
  width: 80px;
}
/* -------------------------------------------NAVBAR */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background: #fff;
  padding: 10px 30px;
  display: flex;
  align-items: center;
}

nav img:first-child {
  height: 55px;
  margin-right: 10px;
}

nav .nav-items {
  display: flex;
  gap: 5px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-family: var(--font-normal);
  display: flex;
  align-items: center;
}

@media screen and (max-width: 820px) {
  nav a {
    display: none;
  }
}

nav a:hover,
nav a:hover i {
  color: var(--blue);
}

nav a i {
  color: #aaa;
  font-size: 18px;
}

nav button {
  padding: 2px 18px;
  position: absolute;
  right: 60px;
  background: var(--blue);
  color: #fff;
  border-radius: 20px;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

nav img:last-child {
  width: 24px;
  position: absolute;
  right: 24px;
}

/* --------------------------------------------------------------LANDING PAGE */
.landing-page {
  width: 100%;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.landing-page-content {
  position: absolute;
  left: 8rem;
  display: flex;
  width: calc(100vw - 60%);
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: white;
  transition: var(--ease);
}

@media screen and (max-width: 1200px) {
  .landing-page-content {
    left: 5rem;
  }
}
@media screen and (max-width: 600px) {
  .landing-page-content {
    left: 2rem;
    width: 70%;
  }
}

.landing-page-content figure {
  width: 80%;
}
.landing-page-content figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 2rem;
}
.landing-page-content figure img.resize {
  width: 320px;
  height: 220px;
  padding: 10px;
  aspect-ratio: 3/2;
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  .landing-page-content figure img.resize {
    width: 20vw;
    height: 14vw;
  }
}

.landing-page-content h1 {
  text-align: left;
  font-family: var(--font-thin);
  font-weight: 300;
  --f-size: 46px;
  font-size: var(--f-size);
  padding: 15px 0px;
}

@media screen and (max-width: 800px) {
  .landing-page-content h1 {
    --f-size: 36px;
  }
}

.landing-page-content p {
  max-width: 100%;
  line-height: 1.6rem;
  text-align: left;
  font-family: var(--font-thin);
}

@media screen and (max-width: 800px) {
  .landing-page-content p {
    font-size: 14px;
  }
}

.landing-page-content button {
  margin: 36px 2px;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 700;
  color: black;
  background: white;
  border-radius: 40px;
  border: none;
}

.landing-page-content button:hover {
  outline: 2px solid white;
  background-color: rgb(228, 228, 228);
  outline-offset: 3px;
}

/* -------------------------------------------------------SWIPER JS */

.landing-page .swiper-slide {
  height: 78vh;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------------------------------------------------------LANDING OPTION */

.hero-cards {
  padding: 50px 0px;
  margin: auto;
  max-width: 84vw;
  display: grid;
  --col: 7;
  grid-template-columns: repeat(var(--col), 1fr);
  transition: var(--ease);
}

@media screen and (min-width: 1800px) {
  .hero-cards {
    width: calc(100% - 16vw);
  }
}

@media screen and (min-width: 1980px) {
  .hero-cards {
    max-width: 1600px;
  }
}

@media screen and (max-width: 1380px) {
  .hero-cards {
    --col: 6;
  }
  .option:nth-last-child(1) {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .hero-cards {
    --col: 5;
  }
  .option:nth-last-child(2) {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .hero-cards {
    --col: 4;
  }
  .option:nth-last-child(3) {
    display: none;
  }
}

.option {
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  margin: 0;
  transition: var(--ease);
}

.option img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
  opacity: 0.7;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s 0s;
}

.option img:hover {
  opacity: 1;
  transform: translateY(-10px);
  box-shadow: 0px 0px 0px #fff, 0px 0px 0px #000, 0px 15px 10px #0003,
    0px 0px 0px #000;
}

/* ---------------------------------------------------------------------PURCHASE */

.ps-acces {
  max-width: 84vw;
  margin: auto;
  display: grid;
  align-items: center;
  --col: 2fr 3fr;
  --row: 1fr;
  grid-template-columns: var(--col);
  grid-template-rows: var(--row);
  transition: var(--ease);
}

@media screen and (min-width: 1800px) {
  .ps-acces {
    max-width: 1600px;
  }
}
@media screen and (max-width: 1700px) {
  .ps-acces {
    --col: 1fr 1fr;
  }
}

@media screen and (max-width: 1100px) {
  .ps-acces {
    --col: 1fr;
    --row: 7fr 4fr;
  }
}

@media screen and (max-width: 700px) {
  .ps-acces {
    --col: 1fr;
    --row: 7fr 6fr;
  }
}

.product-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-thin);
  transition: var(--ease);
}

@media screen and (max-width: 1100px) {
  .product-detail {
    grid-column: 1;
    grid-row: 2;
  }
}

.product-detail h2 {
  font-size: 53px;
  line-height: 61px;
  font-weight: 300;
  margin-bottom: 30px;
}

.product-detail h4 {
  color: #0068bd;
  font-size: 25px;
  font-weight: 300;
  line-height: 31px;
  padding: 10px 0px;
}

.product-detail p {
  font-size: 14px;
  line-height: 21px;
  color: #6b6b6b;
  font-weight: 400;
}

.buttons {
  margin: 24px 0px;
}

.buttons button {
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

.buttons button:nth-child(1) {
  background: var(--blue);
}

.buttons button:nth-child(1):hover {
  outline: 2px solid var(--blue);
  outline-offset: 3px;
}

.side-image {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: var(--ease);
}

.side-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1200px) {
  .side-image img {
    width: 100%;
  }
}

/* -------------------------------------------------------------------PURCHASE ITEM */
.purchase-items {
  margin-inline: auto;
  margin-block: 30px;
  max-width: 84vw;
  display: grid;
  --col: 6;
  grid-template-columns: repeat(var(--col), 1fr);
  gap: 24px;
  transition: var(--ease);
}

@media screen and (min-width: 1800px) {
  .purchase-items {
    max-width: 1600px;
  }
}

@media screen and (max-width: 1500px) {
  .purchase-items {
    max-width: calc(100% - 16vw);
    --col: 5;
    & .items:nth-last-child(1) {
      display: none;
    }
  }
}

@media screen and (max-width: 800px) {
  .purchase-items {
    --col: 4;
    & .items:nth-last-child(2) {
      display: none;
    }
  }
}

.purchase-items .items {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.purchase-items .items .item-img {
  margin-block-end: 20px;
  padding: 10px 20px;
  box-shadow: 0px 10px 14px 0px #8080806b;
  border-radius: 10px;
  transition: var(--ease);
}

.purchase-items .items .item-img:hover {
  box-shadow: 0px 10px 30px 0px #7474746b;
  transform: scale(1.03);
}

.purchase-items .items img {
  width: 100%;
}

.purchase-items .items p {
  text-align: center;
  width: 80%;
  font-size: 14px;
  font-family: var(--font-thin);
  font-weight: 600;
}

/* =====================================================UPCOMING */

.upcoming {
  width: 100%;
  background: #121314;
  --pad: 50px 80px;
  padding: var(--pad);
  transition: var(--ease);
}

.upcoming > h2 {
  font-size: 38px;
  font-family: var(--font-thin);
  font-weight: 290;
  color: #fff;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .upcoming {
    --pad: 30px 30px;
    & h2 {
      font-size: 30px;
    }
  }
}

.joint-btn-area {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.joint-btn-area span {
  width: 250px;
  font-family: var(--font-thin);
  border-radius: 50px;
  background: #212226;
  display: flex;
}

.joint-btn-area span button {
  height: 100%;
  width: 50%;
  border-radius: 50px;
  border: none;
  font-weight: 600;
}

.joint-btn-area span button:last-child {
  color: #fff;
  background: #212226;
}

.card-container {
  padding: 60px 0px;
  display: grid;
  --col: 6;
  --row: 2;
  grid-template-columns: repeat(var(--col), 1fr);
  grid-template-rows: repeat(var(--row), 1fr);
  gap: 30px;
  transition: var(--ease);
}

@media screen and (min-width: 1600px) {
  .card-container {
    max-width: 1550px;
    margin: auto;
  }
}

@media screen and (max-width: 1300px) {
  .card-container {
    --col: 4;
    --row: 3;
  }
}

@media screen and (max-width: 870px) {
  .card-container {
    --col: 3;
    --row: 4;
  }
}

@media screen and (max-width: 670px) {
  .card-container {
    --col: 2;
    --row: 6;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  transition: all ease 0.3s;
  cursor: pointer;
  position: relative;
  transition: var(--ease);
}

.card-img img:nth-child(1) {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-img img:nth-child(2) {
  position: absolute;
  bottom: 8px;
  left: 8px;
  z-index: 9;
  height: 22px;
}

.card-img:hover {
  transform: scale(1.02);
  box-shadow: 0px 13px 30px #000;
}

.card h4 {
  font-family: var(--font-thin);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1000px) {
  .card h4 {
    width: 140px;
  }
}

.shadow {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.shadow:hover {
  background: transparent;
}

/* ----------------------------------- PS PLUS */
.ps-plus {
  padding-block-start: 80px;
  padding-bottom: 120px;
  width: 100%;
  background-image: url(assets/img/ps-plus/playstationplus_banner.webp);
  background-size: cover;
  background-position: center center;
  position: relative;
}

.ps-plus-logo {
  display: grid;
  place-items: center;
}

.ps-plus-logo img {
  width: 270px;
}

.ps-details {
  text-align: center;
  font-family: var(--font-thin);
}

.ps-details h2 {
  font-size: 39px;
  font-weight: 300;
}

.ps-details p {
  margin: 16px 0px;
  color: #6b6b6b;
}

/* --------------------- PS+ Swiper ---------------------- */
.ps-swiper {
  width: 100%;
  height: 40vh;
}

.ps-swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.ps-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.custom-pagination {
  & * {
    width: 32px;
    height: 3px;
    border-radius: 20px;
    background: var(--blue);
  }
}

.ps-btn {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 40px;
}

.ps-btn button {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: var(--blue);
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

.ps-btn button:hover {
  outline: 2px solid var(--blue);
  outline-offset: 3px;
}

/* ------------------------------------ FEATURE  */
.feature {
  height: 100%;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 1100px) {
  .feature {
    height: calc(3 * 30%);
  }
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(#ffffff00, #26254f 10%);
}

.feature-text {
  --pad: 55px 85px;
  padding: var(--pad);
  height: 67vh;
  width: 100%;
  background-image: url(assets/img/feature/feature_bg.webp);
  background-position: top left;
  background-size: cover;
  position: relative;
  transition: var(--ease);
}

@media screen and (min-width: 2000px) {
  .feature-text {
    background-position: top center;
    height: 500px;
  }
}

@media screen and (max-width: 1100px) {
  .feature-text {
    height: 390px;
  }
}

@media screen and (max-width: 500px) {
  .feature-text {
    --pad: 20px 30px;
  }
}

.z-10 {
  position: relative;
  z-index: 10;
}

.feature-text .heading-wrapper {
  margin-block-end: 24px;
}

.feature-text .heading-wrapper h2 {
  font-size: 40px;
  font-family: var(--font-bold);
  color: #fff;
  line-height: 1.4;
  transition: var(--ease);
}

@media screen and (max-width: 650px) {
  .feature-text .heading-wrapper h2 {
    font-size: 32px;
  }
}

.feature-text .heading-wrapper :nth-child(1) {
  font-weight: 300;
  font-family: var(--font-thin);
}
.feature-text .heading-wrapper :nth-child(2) {
  font-weight: 600;
}

.feature-text p {
  width: 45%;
  color: #ddd;
  font-size: 18px;
  font-family: var(--font-normal);
  line-height: 1.2;
  transition: var(--ease);
}

@media screen and (max-width: 800px) {
  .feature-text p {
    width: 100%;
  }
}

.feature-btn {
  margin-block-start: 40px;
}

.feature-btn button {
  padding: 8px 12px;
  border-radius: 30px;
  border: none;
  font-weight: 700;
  font-size: 16px;
}

.feature-btn button:hover {
  background-color: #bbb;
  outline-offset: 3px;
  outline: 2px solid #bbb;
}

.feature-card-area {
  bottom: 15vh;
  padding-inline: 100px;
  margin: auto;
  display: grid;
  --col: 1fr 1fr 1fr;
  --row: 1fr;
  grid-template-columns: var(--col);
  grid-template-rows: var(--row);
  column-gap: 50px;
  row-gap: 10px;
  transition: var(--ease);
}

@media screen and (min-width: 1900px) {
  .feature-card-area {
    max-width: 1850px;
  }
}

@media screen and (max-width: 1200px) {
  .feature-card-area {
    column-gap: 10px;
    bottom: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .feature-card-area {
    padding-inline: 10vw;
    --col: 1fr;
    --row: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 970px) {
  .feature-card-area {
    row-gap: 20px;
  }
}

.fc-img {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
  border-radius: 20px;
  --normal-padding: 20px;
  padding: var(--normal-padding) var(--normal-padding) 30px
    var(--normal-padding);
  transition: var(--ease);

  & div {
    padding: 0 10px;
  }
}

.fc-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: var(--ease);
  cursor: pointer;
}
.fc-img h3 {
  font-family: var(--font-thin);
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 20px;
}
.fc-img p {
  font-size: 14px;
  font-family: var(--font-thin);
  font-weight: 300;
  line-height: 1.5;
}

.fc-img:hover {
  outline: 2px solid #aaa;
  background: #222;
  transform: translateY(-10px);
}

/* ------------------------------------SOCIAL HANDLE */
.social-handles {
  padding: 2rem 0;
  background: #f5f7fa;
}

.social-handles h3 {
  margin-block-end: 50px;
  text-align: center;
  font-family: var(--font-thin);
  font-weight: 300;
  font-size: 31px;
  color: #444;
}

.social-media {
  padding: 0 5vw;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-media img {
  width: 10vw;
}

@media screen and (min-width: 1900px) {
  .social-media {
    max-width: calc(1900px - 100px);
  }
  .social-media img {
    width: 10%;
  }
}

.social-handles p {
  font-family: var(--font-thin);
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-handles p img {
  width: 24px;
  margin-inline: 5px;
}
